* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background: linear-gradient(140deg, #f5a623, #4a90e2);
  text-align: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background: #ffffffa9;
  width: 350px;
  height: 400px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: none;
}

.box {
  height: 80px;
  width: 80px;
  background: transparent;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

.box:nth-child(1),.box:nth-child(2),.box:nth-child(4),.box:nth-child(5){
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.box:nth-child(3),.box:nth-child(6){
  border-bottom: 2px solid black;;
}
.box:nth-child(7),.box:nth-child(8){
  border-right: 2px solid black;;
}

#reset-game {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #4a90e2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

  
  .msg {
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    display: none;
    border: 2px solid yellow; 
    color: azure;
    padding: 1rem;
  }
  
  .win {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.589);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
  }
  
  .in {
    width: 400px;
    height: 200px;
    background: rgba(255, 255, 255, 0.938);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
  }

  .in h2{
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: black;
  }
  
  #play-again {
    margin-top: 20px;
    width: 90%;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #4a90e2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
